@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background-color: #121212; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 10px;
    padding-top: 0;
}

.container {
    text-align: left;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #333; 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8); 
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121212;
    padding: 10px;
    z-index: 10;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

nav .profile-img-nav {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #2575fc;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.icons img {
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition: transform 0.3s, filter 0.3s;
}

.icons img:hover {
    filter: none;
    transform: scale(1.1);
}

h1 {
    font-size: 2rem;
    margin: 0;
    color: #ffffff;
}

.description {
    font-size: 1rem;
    color: #ffffff;
    margin: 10px 0 0;
}

hr {
    border: none;
    border-top: 1px solid #333; 
    margin: 20px 0;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff; 
}

.work p {
    font-size: 1rem;
    margin: 10px 0;
    margin-bottom: 20px;
    color: #bbbbbb; 
}

.project-cards-container {
    position: relative;
    height: 220px;
    overflow: hidden;
}

.project-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    max-width: 100%;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(120%);
    transition: opacity 1s ease, transform 1s ease;
}

.project-card.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.project-card.next {
    display: block;
    opacity: 0.5;
    transform: translateY(120%);
    filter: blur(1px);
}

.project-details {
    padding: 20px;
    background-color: #1c1c1c; 
}

.project-details h3 {
    margin: 0 0 10px 0;
    color: #ffffff; 
}

.project-links a {
    margin-right: 10px;
    color: #2575fc; 
    transition: color 0.3s;
}

.project-links a:hover {
    color: #1e90ff; 
}

.slideshow-indicators {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #2575fc;
}

.indicator:hover {
    background-color: #555;
}

.cursor {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.cursor::after {
    content: '';
    display: block;
    width: 1px;
    height: 1em;
    background-color: #333;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .container {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .work p, .description {
        font-size: 0.9rem;
    }

    .project-cards-container {
        height: auto;
    }

    .project-card {
        transform: translateY(10%);
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .icons img {
        width: 25px;
        height: 25px;
    }

    .description {
        font-size: 0.8rem;
    }

    .container {
        padding: 10px;
    }

    .profile-info {
        text-align: center;
    }
}
